.hr-more {
    width: 80vw;
    margin-left: 0vw;
}

.contact-col-right {
    min-height: 120px;
    align-content: center;
    line-height: 1rem;
}

.icon-contact{
    max-height: 50px;
}

div > .graph-container {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    max-height: 700px;
    overflow-x: scroll;
    overflow-y: hidden;

}


.y-axis-wrapper {
    background: white;
    position: sticky;
    left: 0;
    z-index: 1003;
}