.a-article:hover {
    text-decoration: none;
    color: blue;
}
  
.a-article:link {
    text-decoration: none;
    color: blue;
}
  
.a-article:visited {
    text-decoration: none;
    color: blue;
}
  
.article {
    margin: 1em 0 2em;
}

